body, html {
    margin: 0;
    padding: 0;
}
.header {
    position: fixed;
    z-index: 1;
    background: #FFB8CA;
    width: 100%;
    height: 100px;
}
.logo_img {
    position: absolute;
    width: 199px;
    height: 50px;
    left: 46px;
    top: 37px;
}
.navigation {
    position: absolute;
    width: 541px;
    height: 21px;
    left: 10%;
    top: 0px;
}
.li_home {
    position: absolute;
    width: 46px;
    height: 21px;
    left: 355px;
    top: 50px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #D41443;
}
.li_about_us, .li_making, .li_products, .li_contact {
    position: absolute;
    width: 70px;
    height: 21px;
    left: 436px;
    top: 50px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;

}
.li_making {
    position: absolute;
    width: 117px;
    height: 21px;
    left: 541px;
    top: 50px;
}
.li_products {
    position: absolute;
    width: 104px;
    height: 21px;
    left: 693px;
    top: 50px;
}
.li_contact {
    position: absolute;
    width: 64px;
    height: 21px;
    left: 832px;
    top: 50px;
}
.button_header {
    position: absolute;
    width: 159px;
    height: 44px;
    left: 81%;
    top: 38px;
    background: #FFFFFF;
    border-radius: 22px;
}
.button_header_text {
    padding: 12px 0 10px 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D41443;
}
.main_page {
    position: absolute;
    width: 100%;
    height: 665px;
    left: 0px;
    top: 0px;

    background: #FFB8CA;
}
.ice_cream_made_with {
    position: absolute;
    width: 277px;
    height: 137px;
    left: 115px;
    top: 140px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.passion {

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 90.5%;
    /* or 52px */

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;
}
.button_main_content_products {
    
    position: absolute;
    width: 104px;
    height: 40px;
    left: 115px;
    top: 360px;

    background: #D41443;
    border-radius: 20px;
}
.Products {
    padding: 12px 0 10px 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
.button_main_content_making {
    position: absolute;
    width: 138px;
    height: 40px;
    left: 234px;
    top: 360px;

    background: #FFFFFF;
    border-radius: 20px;
}
.How_its_made {
    padding: 12px 0 10px 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #D41443;
}
.div_cafes {
    position: absolute;
    width: 72px;
    height: 77px;
    left: 87%;
    top: 156px;
}
.p_cafes {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}
.p_16 {
    position: relative;
    margin: 0;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;

}
.circle {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 55px;
    top: -7px;
    border-radius: 50%;
    background: #FFFFFF;
}
.div_food_trucks {
    position: absolute;
    width: 92px;
    height: 76px;
    left: 86%;
    top: 248px;
}
.p_23 {
    margin: 0;
    position: relative;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;
}
.p_food_trucks {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;

    color: #FFFFFF;

}
.circle_second {
    left: 70px;
    top: -7px;
}
.main_content_big_ellipse {
    position: absolute;
    width: 538px;
    height: 538px;
    left: 550px;
    top: 52px;
}
.main_content_ice_cream_img {
    position: absolute;
    width: 236px;
    height: 557px;
    left: 700px;
    top: 108px;
}
.main_content_milk_img {
    position: absolute;
    width: 188px;
    height: 191px;
    left: 77px;
    top: 429px;
}
.text_Lorem_ipsum_dolor {
    position: absolute;
    width: 200px;
    height: 78px;
    left: 295px;
    top: 485px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */


    color: #FFFFFF;
}
.main_content_arrow_img {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 295px;
    top: 590px;
}
.main_content_girl_img {
    position: absolute;
    width: 293px;
    height: 232px;
    left: 950px;
    top: 433px;
}
.div_natural_products {
    position: absolute;
    width: 350px;
    height: 120px;
    left: 580px;
    top: 792px;
}
.text_natural {
    position: absolute;
    width: 290px;
    height: 34px;
    left: 30px;
    display: flex;
    justify-content: center;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFA5BA;
    
}
.text_products {
    position: absolute;
    width: 350px;
    height: 66px;
    /* left: 380px;
    top: 800px; */
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #D41443;
}
.div_ice_cream {
    position: absolute;
    width: 335px;
    height: 735px;
    left: 237px;
    top: 956px;
}
.background_ice_cream {
    position: absolute;
    width: 329px;
    height: 525px;
    top: 210px;
    background: #FFB8CA;
    border-radius: 24px;
}
.img_ice_cream {
    position: absolute;
    width: 329px;
    height: 329px;

}
.text_ice_cream {
    position: absolute;
    width: 180px;
    height: 34px;
    left: 80px;
    top: 345px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.ice_cream_three_points {
    position: absolute;
    width: 26px;
    height: 6px;
    left: 154px;
    top: 439px;

}
.text_Lorem_ipsum_dolor_sit {
    position: absolute;
    width: 241px;
    height: 106px;
    left: 47px;
    top: 477px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}
.arrow_ice_cream {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 147px;
    top: 645px;
}
.div_ice_coffee {
    position: absolute;
    width: 337px;
    height: 735px;
    left: 593px;
    top: 956px;
}
.background_ice_coffee {
    position: absolute;
    width: 329px;
    height: 525px;
    top: 210px;

    background: #F0D1A5;
    border-radius: 24px;
}
.img_ice_coffee {
    position: absolute;
    width: 337px;
    height: 335px;
}
.text_ice_coffee {
    position: absolute;
    width: 190px;
    height: 34px;
    left: 80px;
    top: 345px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.ice_coffee_three_points {
    position: absolute;
    width: 26px;
    height: 6px;
    left: 154px;
    top: 439px;    
}
.arrow_ice_coffee {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 147px;
    top: 645px;
}
.div_milkshakes {
    position: absolute;
    width: 335px;
    height: 735px;
    left: 953px;
    top: 956px;
}
.background_milkshakes {
    position: absolute;
    width: 329px;
    height: 525px;
    top: 210px;
    
    background: #C2E297;
    border-radius: 24px;
}
.img_milkshakes {
    position: absolute;
    width: 335px;
    height: 335px;
}
.text_milkshakes {
    position: absolute;
    width: 209px;
    height: 34px;
    left: 80px;
    top: 345px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.milkshakes_three_points {
    position: absolute;
    width: 26px;
    height: 6px;
    left: 154px;
    top: 439px;  
}
.arrow_milkshakes {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 147px;
    top: 645px;
}
.ice_coffee_text_Lorem_ipsum_dolor_sit {
    position: absolute;
    width: 241px;
    height: 106px;
    left: 47px;
    top: 477px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}
.milkshakes_text_Lorem_ipsum_dolor_sit {
    position: absolute;
    width: 241px;
    height: 106px;
    left: 47px;
    top: 477px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}
.div_how_its_made_background {
    position: absolute;
    width: 100%;
    height: 1382px;
    left: 0px;
    top: 1810px;

    background: #FFF5F6;
}
.div_text_how_its_made {
    position: absolute;
    width: 534px;
    height: 115px;
    left: 372px;
    top: 1935px;
}
.text_tradition_and_love {
    position: absolute;
    width: 351px;
    height: 34px;
    left: 230px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFA5BA;
}
.text_how_its_made {
    position: absolute;
    height: 66px;
    left: 150px;
    top: 25px;

    width: 540px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #D41443;
}
.img_background_milk {
    position: absolute;
    width: 100%;
    height: 534px;
    left: 0px;
    top: 2152px;
}
.img_bio_eco {
    position: absolute;
    width: 516px;
    height: 516px;
    left: 220px;
    top: 2105px;
}
.text_Fusce_ut_velit_laoreet {
    position: absolute;
    width: 463px;
    height: 79px;
    left: 832px;
    top: 2156px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */
    
    letter-spacing: 0.04em;
    
    color: #000000;
}
.text_Curabitur_lacinia_enim {
    position: absolute;
    width: 463px;
    height: 155px;
    left: 832px;
    top: 2270px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 194%;
    /* or 27px */
    
    letter-spacing: 0.04em;
    
    color: #907E82;
    
}
.button_Read_more {
    position: absolute;
    width: 176px;
    height: 44px;
    left: 832px;
    top: 2470px;

    background: #FFFFFF;
    border-radius: 22px;
}
.button_Read_more_text {
    
    padding: 12px 0 10px 40px;
    position: absolute;
    width: 101.04px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #D41443;
}
.div_721 {
    position: absolute;
    width: 330px;
    height: 222px;
    left: 285px;
    top: 2660px;    
}
.img_icon1 {
    position: absolute;
    width: 33px;
    height: 50px;
}
.text_721 {
    position: absolute;
    width: 98px;
    height: 65px;
    top: 40px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #D41443;
    
}
.text_Aliquam {
    position: absolute;
    width: 330px;
    height: 52px;
    top: 170px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */
    
    letter-spacing: 0.02em;
    
    color: #000000;
}
.div_16kg {
    position: absolute;
    width: 330px;
    height: 222px;
    left: 645px;
    top: 2660px;
}
.img_icon2 {
    position: absolute;
    width: 50px;
    height: 50px;
}
.text_16kg {
    position: absolute;
    width: 147px;
    height: 65px;
    top: 40px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: right;
    letter-spacing: 0.04em;
    
    color: #D41443;
}
.text_Aliquam_ac {
    position: absolute;
    width: 330px;
    height: 52px;
    top: 170px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */
    
    letter-spacing: 0.02em;
    
    color: #000000;
    
}
.div_84 {
    position: absolute;
    width: 330px;
    height: 222px;
    left: 1005px;
    top: 2660px;
}
.img_icon3 {
    position: absolute;
    width: 44px;
    height: 50px;
}
.text_84 {
    position: absolute;
    width: 77px;
    height: 65px;
    top: 40px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: right;
    letter-spacing: 0.04em;
    
    color: #D41443;
}
.text_Aliquam_ac_dui {
    position: absolute;
    width: 330px;
    height: 52px;
    top: 170px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */
    
    letter-spacing: 0.02em;
    
    color: #000000;
}
.home-pic5 {
    position: absolute;
    width: 100%;
    height: 430px;
    left: 0px;
    top: 3021px;
}
.div_reviews {
    position: absolute;
    width: 926px;
    height: 350px;
    left: 178px;
    top: 3574px;
}
.img_Emily {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 540px;
}
.reviews_background {
    position: absolute;
    width: 926px;
    height: 138px;
    left: 120px;
    top: 100px;
    
    background: #FAFAFA;
}
.reviews_inverted_commas {
    position: absolute;
    width: 54px;
    height: 40px;
    left: 50px;
    top: 39px;
}
.reviews_text_Emily {
    position: absolute;
    width: 750px;
    height: 52px;
    left: 87px;
    top: 40px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* or 30px */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #000000;
}
.reviews_hr_1 {
    position: absolute;
    width: 813px;
    height: 0px;
    left: 59px;
    top: 75.5px;
    
    border: 1px solid #E1E1E1;
}
.reviews_hr_2 {
    position: absolute;
    width: 813px;
    height: 0px;
    left: 59px;
    top: 106px;
    
    border: 1px solid #E1E1E1;
}
.reviews_three_points {
    position: absolute;
    width: 32px;
    height: 4px;
    left: 566px;
    top: 253px;
}
.reviews_information_about_the_user_Emily {
    position: absolute;
    width: 172px;
    height: 31px;
    left: 496px;
    top: 255px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    /* or 37px */
    
    text-align: center;
    
    color: #000000;
}
.reviews_hr_dots_Emily {
    position: absolute;
    width: 72.4px;
    height: 12px;
    left: 545.6px;
    top: 338px;
}
.background_footer {
    position: absolute;
    width: 100%;
    height: 1022px;
    left: 0px;
    top: 4158px;
    
    background: #FFF5F6;
}
.img_sectionbg2_1 {
    position: absolute;
    width: 100%;
    height: 382px;
    top: 4158px;
}
.background_CAFE {
    position: absolute;
    width: 330px;
    height: 572px;
    left: 235px;
    top: 4056px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}
.div_CAFE {
    position: absolute;
    width: 243px;
    height: 459px;
    left: 43px;
    top: 51px;
}
.div_CAFE_text {
    position: absolute;
    width: 73px;
    height: 28px;
    
    background: #F0D1A5;
    border-radius: 6px;
}
.text_CAFE { 
    position: absolute;
    top: -15px;
    left: 15px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* or 30px */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}
.div_Chicago {
    position: absolute;
    width: 243px;
    height: 90px;
    left: 0px;
    top: 45px;
}
.text_Chicago {
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    
    letter-spacing: 0.04em;
    
    color: #000000;
}
.text_Chicago_Fusce_ut_velit {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 40px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    /* or 29px */
    
    letter-spacing: 0.04em;
    
    color: #907E82;
}
.hr_CAFE_1 {
    position: absolute;
    width: 234px;
    height: 0px;
    top: 182px;
    
    border: 1px solid #E1E1E1;
}
.working_days_CAFE {
    position: absolute;
    width: 163px;
    height: 131px;
    left: 0px;
    top: 214px; 
}
.text_Monday_Friday {
    position: absolute;
    width: 134px;
    height: 30px;    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    
    letter-spacing: 0.04em;
    
    color: #000000;
    
}
.opening_hours_on_weekdays {
    position: absolute;
    width: 163px;
    height: 30px;
    top: 27px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    
    
    color: #FFA5BA;
}
.text_Saturday_Sunday {
    position: absolute;
    width: 152px;
    height: 30px;
    top: 73px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    
    letter-spacing: 0.04em;
    
    color: #000000;
}
.opening_hours_on_weekends {
    position: absolute;
    width: 161px;
    height: 30px;
    top: 101px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    
    
    color: #FFA5BA;
}
.hr_CAFE_2 {
    position: absolute;
    width: 234px;
    height: 0px;
    top: 400px;
    
    border: 1px solid #E1E1E1;    
}
.phone_and_email_CAFE {
    position: absolute;
    width: 243px;
    height: 50px;
    top: 409px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    /* or 29px */
    
    
    color: #907E82;
}


.background_FOOD_TRUCK {
    position: absolute;
    width: 330px;
    height: 572px;
    left: 596px;
    top: 4056px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}
.div_FOOD_TRUCK {
    position: absolute;
    width: 243px;
    height: 459px;
    left: 43px;
    top: 51px;
}
.div_FOOD_TRUCK_text {
    position: absolute;
    width: 138px;
    height: 28px;

    background: #C2E297;
    border-radius: 6px;
}
.text_FOOD_TRUCK { 
    position: absolute;
    top: -15px;
    left: 15px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* or 30px */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}
.div_Los_Angeles {
    position: absolute;
    width: 243px;
    height: 90px;
    left: 0px;
    top: 45px;
}
.text_Los_Angeles {
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    
    letter-spacing: 0.04em;
    
    color: #000000;
}
.text_Los_Angeles_Fusce_ut_velit {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 40px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    /* or 29px */
    
    letter-spacing: 0.04em;
    
    color: #907E82;
}
.hr_FOOD_TRUCK_1 {
    position: absolute;
    width: 234px;
    height: 0px;
    top: 182px;
    
    border: 1px solid #E1E1E1;
}
.working_days_FOOD_TRUCK {
    position: absolute;
    width: 163px;
    height: 131px;
    left: 0px;
    top: 214px; 
}
.hr_FOOD_TRUCK_2 {
    position: absolute;
    width: 234px;
    height: 0px;
    top: 400px;
    
    border: 1px solid #E1E1E1;    
}
.phone_and_email_FOOD_TRUCK {
    position: absolute;
    width: 243px;
    height: 50px;
    top: 409px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    /* or 29px */
    
    
    color: #907E82;
}
.background_CAFE_2 {
    position: absolute;
    width: 330px;
    height: 572px;
    left: 955px;
    top: 4056px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;    
}
.button_Our_Locations {
    position: absolute;
    width: 198px;
    height: 44px;
    left: 563px;
    top: 4714px;
    
    background: #D41342;
    border-radius: 22px;
}
.button_Our_Locations_text {
    position: absolute;
    width: 140px;
    height: 44px;
    left: 40px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.button_Franchise {
    position: absolute;
    width: 180px;
    height: 44px;
    left: 776px;
    top: 4714px;
    
    background: #FFFFFF;
    border-radius: 22px;
}
.button_Franchise_text {
    position: absolute;
    width: 100px;
    height: 44px;
    left: 45px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #D41443;
    
}
.footer {
    position: absolute;
    width: 100%;
    height: 247px;
    left: 0px;
    top: 4923px;
}
.div_homemade_ice_cream_made {
    position: absolute;
    width: 474px;
    height: 115px;
    left: 234px;
}
.text_homemade_ice_cream_made {
    position: absolute;
    width: 472px;
    height: 34px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFA5BA;
}
.text_with_passion {
    position: absolute;
    width: 480px;
    height: 66px;
    top: 15px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #D41443;
}
.div_social_media {
    position: absolute;
    width: 151px;
    height: 34px;
    left: 1128px; 
}
.img_github {
    position: absolute;
    left: 0px;
}
.img_telegram {
    position: absolute;
    left: 58px;
}
.img_facebook {
    position: absolute;
    left: 117px;
}
.text_Feel_free_to_contact {
    position: absolute;
    width: 319px;
    height: 30px;
    left: 965px;
    top: 83px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    
    letter-spacing: 0.02em;
    
    color: #000000;
    
}
.phone_number {
    color: #D41443;
}
.div_hr_homemade_ice_cream_made {
    position: relative;
    top: 212px;
    display: grid;
}
.hr_homemade_ice_cream_made {
    position: absolute;
    width: 99.9%;
    justify-self: center;
    
    border: 1px solid #E1E1E1;
}
.text_All_Rights_Reserved {
    position: absolute;
    width: 276px;
    height: 26px;
    left: 622px;
    top: 221px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    /* identical to box height, or 26px */
    
    letter-spacing: 0.02em;
    
    color: #907E82;
}